<div class="contrainer">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h1> Artists</h1>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <ul ng-repeat="artist in artists">
        <li class="class=col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <img src={{artist.img_thumb}} height="200" width="200">
          <h4 class="artistHead"> {{artist.name}} </h4>
        </li>
      </ul>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
