<body ng-app="Sabesapp">

<div class="large-8 columns">
  <div ng-controller="LoginController" >
      <form ng-submit = "login()">

        <div class="row">
          <h1> Log in </h1>
        </div>

          Email <br/>
          <div class="row">
            <div class="small-3 columns"><input ng-model="email" type="email"></div>
          </div>

          Password <br/><br/>
          <div class = "row">
            <div class="small-3 columns"><input ng-model="password" type="password"></div>
          </div>


          <!-- <div> reviewForm is {{reviewForm.$valid}} </div> -->

          <div class = "row">
          <button type ="submit"> Submit </button>

          </div>

      </form>

      <div>
          {{firstName}}
          {{lastName}} <br/>
          {{email}} <br/>
          {{password}}
      </div>
  </div>

</div>
