<!-- <body ng-app="sabesApp"> -->
<div class="large-8 columns">
  <div ng-controller="LoginController" >
      <form ng-submit = "signup()">
        <div class="row">
          <h1> Sign Up </h1>
        </div>

          <p>First name <br/>
          <div class = "row">
            <div class="small-3 columns"><input ng-model="firstName" type="text"></div>
          </div>

          Last name <br/><br/>
          <div class = "row">
            <div class="small-3 columns"><input ng-model="lastName" type="text"></div>
          </div>

          Email <br/>
          <div class="row">
            <div class="small-3 columns"><input ng-model="email" id="email" type="text" name="email" pattern="[a-zA-Z]{3,}@[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}"></div>
          </div>

          Password <br/><br/>
          <div class = "row">
            <div class="small-3 columns"><input ng-model="password" type="password" name="password"></div>
          </div>

          <!-- <div> reviewForm is {{reviewForm.$valid}} </div> -->

          <div class = "row">
          <button type ="submit"> Submit </button>

          </div>
      </form>

      <div>
          {{firstName}}
          {{lastName}} <br/>
          {{email}} <br/>
          {{password}}
      </div>
  </div>
</div>
